{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Promotion{% endblock %}

{% block body %}


<div class="card">
    <div class="card-header">
        <strong>Ajouter</strong> Promotion
    </div>
    {{ include('promotion/_form.html.twig') }}
</div>

{% endblock %}
