{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('./404Front/style.css') }}">
{% endblock %}
{% block body %}
	<div class="box">
		<div>
			!=FOUND
		</div>
		<p>
			<span style="margin-right: -50px;">ACCOUNT  not found
				!</span>
			PLEASE SIGNUP
		</p>
	</div>
{% endblock %}
