<button onclick="shareOnFacebook('{{ facebookUrl }}')">Share on Facebook</button>
<script>
    function shareOnFacebook(url) {
        window.open(url, '_blank', 'width=600,height=400');
    }
</script>