
{% extends 'baseFront.html.twig' %}

{% block title %}EnergyBox | Non Disponible{% endblock %}

{% block body %}
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Compétition Non Disponible</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-tittle text-center mb-100">
                    <span>Compétition</span>
                    <h2>Désolé, cette compétition n'est pas actuellement disponible ..</h2>
                    <br><br><br><br><br>
                    <a href="{{ path('app_competition_showFront') }}" class="btn">Retourner à la liste des compétitions</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}