{% block body %}
    <h1>Résultat de l'IMC</h1>
    <input type="text" name="poids" value="{{ poids }}" />
    <input type="text" name="taille" value="{{ taille }}" />
    <p>Votre IMC est : {{ imc }}</p>
{% endblock %}