{% extends 'baseBack.html.twig' %}
{% block title %}EnergyBox | Abonnement
{% endblock %}


{% block body %}

	<!-- MAIN CONTENT-->

	<div class="map-data m-b-40">


		<h1>L'émail a été envoyé avec succèe !
		</h1>


	</div>
	<!-- END WHITE BACKGROUND-->

{% endblock %}
