{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Fournisseur{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <strong>Ajouter</strong> Fournisseur
    </div>
    {{ include('fournisseur/_form.html.twig') }}
</div>


{% endblock %}

