{# à modifierrrrr #}


<div style="display:flex;width:100%;align-items: center;justify-content: center ">
<form method="post" action="{{ path('app_abonnement_ajouter', {'pack': pack}) }}" onsubmit="return confirm('Are you sure you want to add this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('ajout' ~ pack) }}">
    <button class="btn">Réserver</button>
</form>
</div>