{% extends 'baseBack.html.twig' %}
{% block title %}EnergyBox | Sponsor{% endblock %} 

{% block body %}
<div class="card">
    <div class="card-header">
        <strong>Ajouter</strong> Sponsor
    </div>
    {{ include('sponsor/_form.html.twig') }}
</div>
{% endblock %}
