{% extends "baseFront.html.twig" %}

{% block title %}EnergyBox | Félicitations {% endblock %}

{% block body %}
<!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Réclamation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-tittle text-center mb-100">
                    <span>Réclamation</span>
                    <h2>Merci d'envoyer votre réclamation.</h2>
                    <h2>La réponse est dans 48h.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}