{% extends 'baseBack.html.twig' %}
{% block title %}EnergyBox |User
{% endblock %}


{% block body %}


	{{ include('user/_formAdmin.html.twig', {'button_label': 'Update'}) }}

	<button class="au-btn au-btn-icon au-btn--green au-btn--small" >
		<a href="{{ path('app_user_index') }}" style="color:#fff;">back to list</a>
	</button>


{% endblock %}
