{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Activité {% endblock %}

{% block body %}
                            
EnergyBox | Activité 
    {{ include('activite_crud/_form.html.twig') }}
</div>

{% endblock %}
